@import url('reset.css');

body {
    background: #000000;
}

p {
  color: white;
}

main {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(196, 109, 247, 0.2), rgba(0,0,0,.6));
}

section {
  margin: 100px auto;
  
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(196, 109, 247, 0.2), rgba(0,0,0,.6)), url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content{
    margin: auto;
    width: 600px;
    text-align: center;
    color: #fff;

}
.banner .logo {
  background-color: rgba(0,0,0,.2);
  width: 260px;
  height: 260px;
  border-radius: 50%;
  margin: auto;
  padding: 20px 12px;
  margin-bottom: 16px;
}

.bannner .logo img{
  margin: auto;
  object-fit: contain;

}


.banner h1 {
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

h2 {
  color:#33A8DB;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}


.banner p {
  font-size: 20px;
  margin: 16px 0 25px;
}

.banner  .banner-content button{
  font-weight: bold;
  font-size: 16px;
  color: #31A8DD;
  letter-spacing: 4px;
  text-align: center;
  padding: 16px 37px;
  background-color:transparent;
  border-image: linear-gradient(#33A8DB, #1472B7);
  border-image-slice:10;
  text-transform: uppercase;
  cursor: pointer;
  
}

.banner  .banner-content button:active{
  transform: scale(0.95) ;
}
.banner  .banner-content button:hover{
  color:#03ffea ;
  border-image: linear-gradient(#03ffea , #08d6c5 );
  border-image-slice:10;
} 

#course-content{
  text-align: center;
  margin: auto;
  width: 800px;
  margin-top: 100px;
 
  
}
  
#course-content .modules-list {
  margin: 25px 0;
  /* margin-bottom: 100px; */
}

#course-content .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33A8DB;
  padding: 16px;
  border-radius: 100px;
  background-color: #252525;
  box-shadow: inset -7px 10px 9px rgba(0, 0, 0, .7);
}


#course-content .modules-list .module span{
  color: #33A8DB;
}


#transform-world {
  height: 560px;
  background-size: cover;
  background-image: url("../images/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #33A8DB80;
  border-bottom: 1px solid #33A8DB80;
  padding: 200px;
}

#transform-world p{
  text-transform: lowercase;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 4px 3px #33A8DB;
  max-width: 250px;

}

#professional-challenges{
  text-align: center;
  width: 800px;
}

#professional-challenges img {
  margin: 34px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(196, 109, 247, 0.2), rgba(0,0,0,.6));
  border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  text-decoration: none;
  color: #33A8DB;
  font-weight: bold;
}